@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


:root{
    --white: #ffffff;
    --black: #000000;
    --primary-grey: #F2F2F2;
    --seconday-grey: #E9E9E9;
    --header-font: 'Fraunces', serif;
    --subheader-font: 'Inter', sans-serif;
    --text-font: 'Manrope', sans-serif;
}

/*Login Page Styling*/
body {
    background: var(--white);
    padding-left: 115px;
    margin: 0;
    height: auto;
    font-family: var(--text-font);
}

.company{
    display: flex;
    align-items: center;
    gap: 7px; 
}

.company img {
    width: 15px; 
}

.company-name{
    font-size: 1rem;
    color: var(--black);
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1024px;
    margin: 0;
    gap: 100px;
    width: calc(100% - 115px);
    height: calc(100% - 100px);
}

.login-container, .sign-up-container{
    padding: 100px 0;
    display: flex;
    flex-direction: column;
}

.login-content .text h2, .sign-up-content .text h2{
    font-size: 2.9rem;
    color: var(--black);
    margin-bottom: 20px;
    font-family: var(--header-font);
}

.login-content .text p{   
    font-size: 1rem;
    color: var(--black);
    margin-bottom: 35px;
    font-family: var(--subheader-font);
}

.login-form, sign-up-form{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
}

.login-form-group, register-form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
}

.login-form-group input{
    padding: 12px 15px;
    font-size: 0.9rem;
    border: 1px solid var(--black);
    border-radius: 50px;
    color: var(--seconday-grey);
}

.l-submit-btn input{
    background-color: var(--black);
    border: none;
    color: var(--white);
    font-size: 1rem;
    padding: 12px 50px ;
    border-radius: 25px;
    width: 100%;    
    cursor: pointer;
}

.sign-up-link{
    text-align: center;
    font-size: 0.8rem;
    color: var(--black);
}

.sign-up-link a{
    color: var(--black);
    text-decoration: none;
    font-weight: 600;
}

.signup-img img{
    width: 600px;
}

/*Sign Up Page styling*/
.sign-up-content .text p{   
    font-size: 1rem;
    color: var(--black);
    margin-bottom: 35px;
}

.login-message a{
    color: var(--black);
    text-decoration: none;
    font-weight: 600;
}

.register-form{
    width: fit-content;
}

.register-form input{
    padding: 12px 15px;
    font-size: 0.9rem;
    border: 1px solid var(--black);
    border-radius: 50px;
    color: var(--seconday-grey);
    width: 90%;
    margin-bottom: 12px;
}

.s-submit-btn input{
    background-color: var(--black);
    border: none;
    color: var(--white);
    font-size: 1rem;
    padding: 12px 50px ;
    border-radius: 25px;
    width: 100%;    
    cursor: pointer;
    margin-top: 30px;
}

/*Mobile layout*/
@media (max-width: 768px){
    main{
        flex-direction: column;
        height: auto;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin-bottom: 0;
    }
    .login-form, sign-up-form{
        margin-bottom: 0;
    }

    .signup-img img{
        width: 100%;
    }

    body {
        margin-left: 20px;
    }
}