/*Event details container*/
.event-details-container{
    display: flex;
    flex-direction: column;
    padding: 0 24px;
}

.event-details .price-info{
    background-color: var(--white);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 15px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
    position: absolute;
    right: 20px;
}

.price-info img{
    width: 27px;
    height: 27px;
    align-content: center;
    margin-top: 3px;
}

.price-info .price {
    font-weight: 500;
    font-size: 0.9rem;
    margin: 0;
    color: var(--black);
    padding: 4px 12px;
    display: block;
}

.event-image .image{
    width: 100%;
    height: 600px;
    object-fit: cover;
    border-radius: 15px;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    gap: 25px;
    margin-top: 50px;
}

.header h2{
    font-size: 2.5rem;
    margin: 0;
    padding: auto;
}

.header .event-type, .share-button{
    background-color: transparent;
    align-items: flex-end;
    border: 1px solid var(--black);
    padding: 5px 12px;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--black);
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 6px;
    transform: translateY(7px);
}

.event-type .share-button img{
    width: 14px;
    height: 14px;
}

.about, .details{
    padding: 24px 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    margin-top: 35px;
}

.about h5, .details h5{
    font-size: 1.5rem;
    margin-bottom: 0;
    margin-top: 0;
}

.about p, .details p{
    font-size: 1rem;
    letter-spacing: 0.4px;
}

.about ul li{
    line-height: 24px;
    font-size: 1rem;
}

/*Button styling*/
.cart-button{
    margin-top: 30px;
    margin-bottom: 20px;
}

.cart-button button{
    background-color: var(--black);
    width: 100%;
    border: none;
    color: var(--white);
    border-radius: 15px;
    padding: 12px 18px;
    font-size: 1rem;
}