.navbar {
    background-color: var(--white); 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 25px;
}

.navbar .brand-name {
    display: flex;
    align-items: center;
    gap: 7px; 
}

.navbar .brand-name .logo {
    width: 15px; 
    height: auto;
}

.navbar .CampusConnect {
    font-size: 1rem;
    color: var(--black);
}

.navbar-nav{
    display: flex;
    gap: 15px; 
    align-items: center;
    justify-content: center;
    margin-right: 5rem;
    text-decoration: none;
    list-style: none;
}

.navbar-nav .nav-link {
    color: var(--black);
    font-size: 0.9rem;
    padding: 8px 15px;
    border: 1px solid var(--black);
    border-radius: 50px; 
    background-color: var(--white);
    text-decoration: none;
    /*transition: background-color 0.3s ease, color 0.3s ease;*/
}

.navbar-nav .nav-link, a{
    text-decoration: none;
}

.navbar .btn-primary {
    padding: 8px 25px;
    border-radius: 8px;
    font-size: 1rem;
    background-color: var(--black);
    color: var(--white);
    border: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/*Profile/Cart icons styling*/
.icons a{ 
    margin: 0px 8px;
}

.cart-icon img{
    width: 24px;
    height: 24px;
}

.profile-icon img{
    width: 24px;
    height: 24px'
}

/*Heading Text Styling*/
.events-header {
    text-align: center;
    padding: 60px 20px;
}

.events-header h1 {
    font-size: 3.3rem;
    color: var(--black);
    margin-bottom: 15px;
    font-family: var(--header-font);
}

.events-header p {
    font-size: 1.2rem;
    color: var(--black);
}

/* Search Bar Styling */
.search-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px; 
    padding: 25px 30px;
    font-family: var(--subheader-font);
}

.search-container .row {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center; 
    gap: 15px; 
    width: 100%;
}

.search-bar{
    flex: 1;
}

.search-container .form-control {
    border: 1px solid var(--primary-grey);
    border-radius: 12px;
    padding: 15px 20px;
    font-size: 1rem;
    width: 93%;
}

.search-container .form-control input {
    color: var(--light-grey);
    font-size: 1.1rem;
}

.search-container .form-control:focus {
    border-color: var(--primary-grey);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    outline: none; 
}
.filter-buttons {
    position: relative;
}

.filter-btn {
    background-color: var(--white);
    border: 1px solid var(--black);
    border-radius: 12px;
    padding: 10px 15px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    width: 100%;
}

/* Dropdown Styling */
.dropdown-menu-custom {
    position: absolute;
    top: 100%;
    left: 0;
    width: auto;
    background-color:var(--white);
    border: 1px solid var(--black);
    border-radius: 12px;
    padding: 10px 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 10;
    margin-top: 5px;
}

.price-btn{
    width: 135px;
}

.dropdown-menu-custom.show {
    display: block;
}

.dropdown-menu-custom div {
    padding: 8px 10px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: text-decoration 0.3s ease;
}

.dropdown-menu-custom div:hover {
    text-decoration: underline;
}

.filter-btn img {
    vertical-align: middle;
}

/*Date filter button*/
.date-filter-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0;
    width: 110px;
    z-index: 10;
}

.date-filter-form label{
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--black);
    text-decoration: none;
}

.date-filter-form input {
    padding: 8px 10px;
    border: 1px solid var(--primary-grey);
    border-radius: 6px;
    font-size: 0.9rem;
    text-decoration: none;
}

.filter-apply-btn {
    padding: 10px;
    background-color: var(--black);
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 5px;
    text-decoration: none;
}
/* Event Cards Styling */
.event-cards-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 24px;
    gap: 20px;
}

.event-cards-container .container {
    width: 100%;
}

.event-cards-container .event-card {
    height: 550px;
    width: 370px;
    border-radius: 25px;
    background-color: var(--primary-grey);
}

.event-card {
    padding: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    color: var(--black);
}

.event-card .event-price {
    background-color: var(--white);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
}

.event-card .event-price img {
    width: 27px;
    height: 27px;
    align-content: center;
    margin-top: 3px;
}

.event-card .price {
    font-weight: 500;
    font-size: 0.9rem;
    margin: 0;
    color: var(--black);
    padding: 4px 12px;
    display: block;
}

.event-card .img-fluid {
    width: 360px;
    height: 260px;
    border-radius: 25px;
    object-fit: cover;
    display: block;
}

.event-card .p-3 {
    padding: 12px !important;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.event-card .p-3 h5 {
    margin-top: 5px;
    margin-bottom: 7px;
    font-size: 1.1rem;
    color: var(--black);
    line-height: 1.3;
}

.event-card .p-3 p {
    font-size: 0.8rem;
    margin-top: 0;
    text-align: left !important;
    width: fit-content;
    color: var(--black);
    padding: 0 0;
    margin-bottom: 10px;
    line-height: 1.4;
}

.date-time {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 0.8rem;
}

.date-time img {
    width: 16px;
    height: 16px;
    margin-bottom: 10px;
}

.date-time .date,
.date-time .time {
    margin: 0;
}

.date-time .time {
    margin-left: 3px;
}

.location-of-event {
    display: flex;
    align-items: flex-start;
    gap: 5px;
    margin-bottom: 5px;
    font-size: 0.8rem;
}

.location-of-event img {
    width: 16px;
    height: 16px;
    margin-top: 2px;
}

.location-of-event .location {
    margin: 0;
}

.type-of-event {
    margin-bottom: 10px;
    margin-top: auto;
}

.event-type {
    background-color: transparent;
    align-items: flex-end;
    border: 1px solid var(--black);
    padding: 5px 12px;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--black);
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 6px;
}

.event-type img {
    width: 14px;
    height: 14px;
}

.event-card a {
    background-color: var(--black);
    text-align: center;
    border: none;
    color: var(--white);
    font-weight: 500;
    font-size: 1rem;
    padding: 9px 12px ;
    border-radius: 10px;
    margin-top: auto;
}

/*Footer Styling*/
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: var(--white);
    padding: 20px 24px;
    text-align: center;
    color: var(--black);
    font-size: 0.9rem; 
}

footer .brand {
    display: flex;
    align-items: center;
    gap: 7px;
    font-size: 1rem;
}
footer .brand .logo {
    width: 15px;
    height: auto;
}

.footer-links{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
}

.footer-links a{
    color: var(--black);
    text-decoration: none;
    font-size: 0.9rem;
    border: 1px solid var(--black);
    border-radius: 50px;
    padding: 8px 24px;
}

.hidden{
    display: none;
}