@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


:root{
    --white: #ffffff;
    --black: #000000;
    --primary-grey: #F2F2F2;
    --seconday-grey: #E9E9E9;
    --header-font: 'Fraunces', serif;
    --subheader-font: 'Inter', sans-serif;
    --text-font: 'Manrope', sans-serif;
}

body{
    background-color: var(--white);
    margin: 0;
    padding: 0;
    font-family: var(--text-font);
}

/*Navbar styling*/
.navbar {
    background-color: var(--white); 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 25px;
}

.navbar .brand-name {
    display: flex;
    align-items: center;
    gap: 7px; 
}

.navbar .brand-name .logo {
    width: 15px; 
    height: auto;
}

.navbar .CampusConnect {
    font-size: 1rem;
    color: var(--black);
}

.navbar-nav{
    display: flex;
    gap: 15px; 
    align-items: center;
    justify-content: center;
    margin-right: 5rem;
    text-decoration: none;
    list-style: none;
}

.navbar-nav .nav-link {
    color: var(--black);
    font-size: 0.9rem;
    padding: 8px 15px;
    border: 1px solid var(--black);
    border-radius: 50px; 
    background-color: var(--white);
    text-decoration: none;
    /*transition: background-color 0.3s ease, color 0.3s ease;*/
}

.navbar-nav .nav-link, a{
    text-decoration: none;
}

.navbar .btn-primary {
    padding: 8px 25px;
    border-radius: 8px;
    font-size: 1rem;
    background-color: var(--black);
    color: var(--white);
    border: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/*Profile/Cart icons styling*/
.icons a{ 
    margin: 0px 8px;
}

.cart-icon img{
    width: 24px;
    height: 24px;
}

.profile-icon img{
    width: 24px;
    height: 24px'
}

/*event card header font*/
.event-title{
    font-family: var(--subheader-font);
}

/*Footer styling*/
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: var(--white);
    padding: 20px 24px;
    text-align: center;
    color: var(--black);
    font-size: 0.9rem; 
}

footer .brand {
    display: flex;
    align-items: center;
    gap: 7px;
    font-size: 1rem;
}
footer .brand .logo {
    width: 15px;
    height: auto;
}

.footer-links{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
}

.footer-links a{
    color: var(--black);
    text-decoration: none;
    font-size: 0.9rem;
    border: 1px solid var(--black);
    border-radius: 50px;
    padding: 8px 24px;
}

/*Card Hover Styling*/
.event-card:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transform: translateY(-5px);
    transition: all 0.5s ease-in-out;
}

/*Mobile layout*/
@media (max-width: 768px) {
    .navbar {
        flex-direction: row;
        align-items: flex-start;
        justify-content: left;
    }

    .navbar-nav {
        flex-direction: row;
        margin-right: 0;
        gap: 5px;
    }

    footer {
        flex-direction: row;
        text-align: center;
        align-items: flex-start;
    }

    .footer-links {
        flex-direction: row;
        gap: 5px;
    }

    .event-card:hover{
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
        transform: translateY(-5px);
        transition: all 0.5s ease-in-out;
    }
}