

/*Home Page Styling*/
body {
    background: var(--white);
}

.navbar {
    background-color: var(--white); 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 25px;
}

.navbar .brand-name {
    display: flex;
    align-items: center;
    gap: 7px; 
}

.navbar .brand-name .logo {
    width: 15px; 
    height: auto;
}

.navbar .CampusConnect {
    font-size: 1rem;
    color: var(--black);
}

.navbar-nav{
    display: flex;
    gap: 15px; 
    align-items: center;
    justify-content: center;
    margin-right: 5rem;
    text-decoration: none;
    list-style: none;
}

.navbar-nav .nav-link {
    color: var(--black);
    font-size: 0.9rem;
    padding: 8px 15px;
    border: 1px solid var(--black);
    border-radius: 50px; 
    background-color: var(--white);
    text-decoration: none;
    /*transition: background-color 0.3s ease, color 0.3s ease;*/
}

.navbar-nav .nav-link, a{
    text-decoration: none;
}

.navbar .btn-primary {
    padding: 8px 25px;
    border-radius: 8px;
    font-size: 1rem;
    background-color: var(--black);
    color: var(--white);
    border: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/*Profile/Cart icons styling*/
.icons a{ 
    margin: 0px 8px;
}

.cart-icon img{
    width: 24px;
    height: 24px;
}

.profile-icon img{
    width: 24px;
    height: 24px'
}
/*Hero styling*/

.hero {
    padding: 80px 0;
    text-align: center;
    background-color: var(--white);
}

.hero, text-muted{
    font-weight: 0;
    font-size: 1rem;
}

.hero h1{
    font-size: 3rem;
    margin-bottom: 20px;
    margin-top: 0;
}

.hero .mt-3{
    font-size: 1.1rem;
    color: var(--black);
}

.hero .mt-4{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}

.hero .mt-4 .btn{
    margin-top: 20px;
    border-radius: 10px;
    padding: 15px 25px ;
    margin: 12px;
    font-size: 1.1rem;
    color: var(--black);
}

.hero .mt-4 .browse-events{
    background-color: var(--black);
    color: var(--white);
}

.hero .mt-4 .create-events{
    background-color: var(--primary-grey);
    color: var(--black);
}

.hero .stats{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 30px;
    font-size: 1rem;
    color: var(--black);
}

.hero .stats #text-center{
    text-align: center;
    padding: 13px 25px;
    border-radius: 10px;
    font-size: 0.9rem;
}

.hero .stats #text-center .numbers{
    font-size: 1.3rem;
}

.event-created, .partner-uni{
    background-color: var(--black);
    color: var(--white);
}

.active-users{
    background-color: var(--primary-grey);
    color: var(--black);
}

/* Info Section Styling */
.info-container {
    padding: 50px 0;
    text-align: center;
}

.info-container h2 {
    font-size: 2.3rem;
    margin-bottom: 15px;
}

.info-container p {
    font-size: 1.1rem;
    color: var(--black);
    margin-bottom: 40px;
}

.info-container .cards-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    padding: 24px;
    margin-bottom: 30px;
}

.info-card {
    background: var(--primary-grey);
    border-radius: 12px;
    padding: 25px;
    text-align: center;
    width: 250px;
    height: auto;
}

.info-card h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.info-card p {
    font-size: 1rem;
    color: var(--black);
}

.info-card img {
    width: 80px;
    height: auto;
    margin-bottom: 15px;
}
/* Upcoming Events Section Styling */

.upcoming-events-container {
    padding: 50px 0;
    text-align: left;
    margin-bottom: 50px;
}

.upcoming-events-container h2 {
    font-size: 2.3rem;
    margin-bottom: 10px;
    padding: 0 24px;
}

.upcoming-events-container p {
    font-size: 1.1rem;
    color: var(--black);
    margin-bottom: 20px;
    padding: 0 24px;
}

.upcoming-events-container .event-cards-container{
    background-color: var(--white);
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-direction: row;
    overflow: hidden;
    padding: 24px;
}

.event-cards-container .event-card {
    height: 550px;
    width: 370px;
    border-radius: 25px;
    background-color: var(--primary-grey);
}

.event-card {
    padding: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    color: var(--black);
}

.event-card .event-price {
    background-color: var(--white);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10;
}

.event-card .event-price img {
    width: 27px;
    height: 27px;
    align-content: center;
    margin-top: 3px;
}

.event-card .price {
    font-weight: 500;
    font-size: 0.9rem;
    margin: 0;
    color: var(--black);
    padding: 4px 12px;
    display: inline-block;
}

.event-card .img-fluid {
    width: 360px;
    height: 260px;
    border-radius: 25px;
    object-fit: cover;
    display: block;
}

.event-card .p-3 {
    padding: 12px !important;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.event-card .p-3 h5 {
    margin-top: 5px;
    margin-bottom: 7px;
    font-size: 1.1rem;
    color: var(--black);
    line-height: 1.3;
}

.event-card .p-3 p {
    font-size: 0.8rem;
    margin-top: 0;
    text-align: left !important;
    width: fit-content;
    color: var(--black);
    padding: 0 0;
    margin-bottom: 10px;
    line-height: 1.4;
}

.date-time {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 0.8rem;
}

.date-time img {
    width: 16px;
    height: 16px;
    margin-bottom: 10px;
}

.date-time .date,
.date-time .time {
    margin: 0;
}

.date-time .time {
    margin-left: 3px;
}

.location-of-event {
    display: flex;
    align-items: flex-start;
    gap: 5px;
    margin-bottom: 5px;
    font-size: 0.8rem;
}

.location-of-event img {
    width: 16px;
    height: 16px;
    margin-top: 2px;
}

.location-of-event .location {
    margin: 0;
}

.type-of-event {
    margin-bottom: 10px;
    margin-top: auto;
}

.event-type {
    background-color: transparent;
    align-items: flex-end;
    border: 1px solid var(--black);
    padding: 5px 12px;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--black);
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 6px;
}

.event-type img {
    width: 14px;
    height: 14px;
}

.event-card a {
    background-color: var(--black);
    text-align: center;
    border: none;
    color: var(--white);
    font-weight: 500;
    font-size: 1rem;
    padding: 9px 12px ;
    border-radius: 10px;
    margin-top: auto;
}

/*Getting Started Styling*/
.get-started-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
}

.get-started-container img{
    width: 40px;
    height: auto;
    margin-bottom: 15px;
}

.get-started-container h2{
    font-size: 2.1rem;
    margin-bottom: 10px;
}

.get-started-container p{
    font-size: 1.2rem;
    color: var(--black);
    margin-bottom: 20px;
    text-align: center;
}

.get-started-container .btn-dark{
    background-color: var(--black);
    border: none;
    color: var(--white);
    font-weight: 500;
    font-size: 1rem;
    padding: 12px 50px ;
    border-radius: 10px;
}

/* Footer Styling */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: var(--white);
    padding: 20px 24px;
    text-align: center;
    color: var(--black);
    font-size: 0.9rem; 
}

footer .brand {
    display: flex;
    align-items: center;
    gap: 7px;
    font-size: 1rem;
}
footer .brand .logo {
    width: 15px;
    height: auto;
}

.footer-links{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
}

.footer-links a{
    color: var(--black);
    text-decoration: none;
    font-size: 0.9rem;
    border: 1px solid var(--black);
    border-radius: 50px;
    padding: 8px 24px;
}